<header>
    <div class="container">
        <a class="brand" href="{{ site.baseurl }}/">{{ site.displaytitle }}</a>
        <nav>
            <ul class="links">
                <li><a href="{{ site.baseurl }}/posts.html">All posts</a></li>
                <li><a href="{{ site.baseurl }}/category_theory.html">Category Theory</a></li>
                <!-- <li><a href="{{ site.baseurl }}/haskell.html">Haskell</a></li> -->
                <!-- <li><a href="{{ site.baseurl }}/posts.html">Posts</a></li> -->
            </ul>
        </nav>
    </div>
</header>

