.post-header {
    h1,h5,h6 {
        margin: 0;
    }

    h5,h6 {
        display: inline;
    }

    .post-title {
        color: $main-color;
        font-size: 1.5em;
    }

    .post-meta {
        color: rgba($main-color, 0.6);

        .post-date {
            font-weight: bold;
        }
    
        .post-author {
            font-weight: bold;
        }
    }

    .post-tags {
        color: rgba($main-color, 0.6);
    }
}

article {
    h2 {
        font-size: 1.2em;
    }
}
