---
layout: default
---
<article>
    <div class="post-header">
        <h1 class="post-title">{{ page.title | escape }}</h1>
        <h5 class="post-meta">
            <span class="post-date">{{ page.date | date_to_string }}</span> &nbsp;
            {%- if page.author -%}
                <span class="post-author">~{{ page.author }}</span> &nbsp;
            {%- endif -%}
        </h5>
        {%- if page.tags and page.tags.size > 0 -%}
            <h5 class="post-tags">
                Tags: &nbsp;
                {%- for tag in page.tags  -%}
                    <span class="tag">{{ tag }}</span> &nbsp;
                {%- endfor -%}
            </h5>
        {%- endif -%}
    </div>
    {{ content }}
</article>
